#tittle{
	font-size: 50px;
	color: white;
	font-family:"微软雅黑";
	text-align-last: center;
	padding-top: 4%;
}
#denglu{

	margin:0 auto;
	padding: 4%;
    text-align:center;
 
}

.name{            
  width: 310px;
  height: 44px;
  color: #C0C0C0;
  line-height: 44px;
  padding-left: 15px;
  margin-bottom:20px; ;
  outline: none;
  border-radius: 20px;
  background-color: #0A3C78;
  border: 1px solid #329BE0;
}
input.pwd{
  width: 310px;
  height: 44px;
  color: #C0C0C0;
  line-height: 44px;
  padding-left: 15px;
  margin-bottom:20px; 
  outline: none;
  border-radius: 20px;
  background-color: #0A3C78;
  border: 1px solid #329BE0;
}
.layui-btn layui-btn-radius{
	width: 100px;
	height: 100px;
}

.login{

  background: #3fb9ff;
  font-size: 18px;
  width: 329px;
  height: 44px;
  outline: none;
  color: white;
  background: -webkit-linear-gradient(#3fb9ff, #099be7, #229de3);
  background: -o-linear-gradient(#3fb9ff, #099be7, #229de3);
  background: -moz-linear-gradient(#3fb9ff, #099be7, #229de3);
  background: linear-gradient(#3fb9ff, #099be7, #229de3);
  border-radius: 20px;
}
.login:hover{
  background: -webkit-linear-gradient(#229de3, #099be7,#3fb9ff);
  background: -o-linear-gradient(#229de3, #099be7,#3fb9ff);
  background: -moz-linear-gradient(#229de3, #099be7,#3fb9ff);
  background: linear-gradient(#229de3, #099be7,#3fb9ff);
}

#foot{
  
  text-align: center;
  bottom: 15px;
  position: absolute; 
  width: 100%;
}
#foot a{
	color:white;
}
