body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font: 12px "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}



#head {
  width: 100%;
  height: 100%;

 
  background: linear-gradient(to right bottom, red, pink, white);
  text-align: center;
  line-height: 20vh;
  color: antiquewhite;
  font-size: 32px;
}
#title1{
	color: black;
}

#a{
    /*flex 布局*/
    display: flex;
    /*实现垂直居中*/
    align-items: center;
    /*实现水平居中*/
    justify-content: center;
 
    
}